@charset "utf-8";

html {
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #f7f5f5;
}

::selection {
  background: #ddd;
}

::-moz-selection {
  background: #ddd;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.article a {
  color: #fd6f6b;
}

.article a:active, a:hover {
  opacity: .75;
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -.5em;
}

img {
  border: 0;
}

hr {
  color: #fff;
  width: 25%;
}

code {
  font-family: monospace;
  font-size: 1em;
}

input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea {
  overflow: auto;
}

td, th {
  padding: 0;
}

.case {
  font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
  font-weight: 400;
  transition: ease all .3s;
  background: rgba(0,0,0,.65);
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 10000;
}

.title {
  line-height: 3em;
  display: inline-block;
  margin-left: 10%;
  padding: .1em .2em .1em .2em;
}

.title h1 {
  font-weight: 300;
  float: left;
}

.title a {
  color: #fff;
  transition: ease all .5s;
}

.title a:hover {
  opacity: .65;
  border: none;
  text-decoration: none;
}

.navbar {
  text-align: center;
  text-transform: capitalize;
  float: right;
  margin: 1em 2em .1em 1em;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline;
}

#sign_in {
background-color:rgba(255,255,255,.25);
}

.navbar a {
  color: rgba(204,204,204,.7);
  padding: 10px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(255,255,255,.09);
  -webkit-transform: translateZ(0);
  -moz-transform: transalteZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
}

.navbar a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #888;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.navbar a:hover, .navbar a:focus, .navbar a:active {
  color: #ddd;
  opacity: 1;
  border: none;
  text-decoration: none;
}

.navbar a:hover:before, .navbar a:focus:before, .navbar a:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
  transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
}

#about, #team, #contact {
  margin: 10000px auto 10px auto;
}

.about, .team, .contact {
  font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
  margin: 30% auto .75em 0;
  width: 45%;
  padding: 20px 1.5em 20px 20px;
  border-radius: 0 50px 50px 0;
  text-align: right;
  color: #fff;
  font-size: 2.5em;
  font-weight: 300;
  background: #ff7781;
  text-transform: uppercase;
}

#tag {
  font-weight: 700;
}

.article p {
  font-family: 'Source Sans Pro',Arial,sans-serif;
  font-size: 1.1em;
  color: #666;
  font-weight: 400;
  margin: -1em 23% 30% 23%;
  padding: 2em;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  height: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px 1px rgba(136,136,136,.88);
  -moz-box-shadow: 0 5px 10px 1px rgba(136,136,136,.88);
  box-shadow: 0 5px 10px 1px rgba(136,136,136,.88);
}

.directions {
  text-align: center;
}

#goto {
  color: #ff7781;
  transition: ease all .3s;
  font-weight: 700;
  font-size: 1.1em;
  border: 3px solid #ff7781;
  padding: 1.5em .5em 1.5em .5em;
  text-align: center;
  text-transform: capitalize;
  width: 20%;
  display: block;
  float: right;
  margin: 80px 40% 1em auto;
  text-shadow: 0 1px #ddd;
}

.article #goto:hover {
  text-decoration: none;
  color: #fff;
  background-color: #ff7781;
  opacity: 1;
  text-shadow: none;
}

#overlay {
  background-color: rgba(0,0,0,.03);
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
  transition: ease all .3s;
}

#overlay a {
  color: #ff7781;
  text-shadow: 2px 2px #aaa;
  float: right;
  margin-right: 1em;
}

#overlay ul {
  list-style: none;
}

#overlay a:hover {
text-decoration: none;

}
#overlay div {
     color: #555;
     width:30%;
     height: auto;
     margin: 250px auto;
     background-color: #fff;
     border:1px solid #ccc;
     padding:20px;
     text-align:center;
}

#overlay div form input {
  background-color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ddd;
}

#overlay div form input:active {
  border: 1px solid #ddd;
}

.spacer {
  margin-bottom: 10%;
}

#social p {
  margin: 6em auto 2.5em auto;
  text-align: center;
}

#social a {
  padding: 1em 1.5% 0 1.5%;
  color: #999;
  font-size: 2em;
  transition: ease all .2s;
}

#social a:hover {
  color: #ff7781;
  border: none;
  opacity: 1;
}

#copyright {
  margin: .5em auto;
  color: #999;
  padding-left: 20px;
  padding-bottom: .5em;
  font-size: .8em;
  text-align: center;
}

#copyright a {
  color: #999;
  opacity: 1;
}

#copyright a:hover {
  color: #aaa;
}