@charset "utf-8";
@wbap: -webkit-appearance;
@mozap: -moz-appearance;
@wbbxsz: -webkit-box-sizing;
@mozbx: -moz-box-sizing;
@bxsz: box-sizing;
/*  Normalize attributes  */
html {
  ff: Raleway,Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  bg: url(http://exponentsrobotics.com/images/wavegrid.png) top left repeat #f7f5f5;
}

::selection {
  bg: #ddd;
}

::-moz-selection {
  bg: #ddd;
}

a {
 td: none;
 bgc: transparent;
 }

.article a {
  col: #fd6f6b;
}

.article a:active, a:hover {
  opacity: 0.75;
  td: underline;
}

h1 {
  fs: 2em;
  mar: .67em 0;
}

sup {
  fs: 75%;
  lh: 0;
  pos: relative;
  va: baseline;
  top: -.5em;
}

img {
  bor: 0;
}

hr {
  col: #fff;
  wid: 25%;
}

code {
  ff: monospace;
  fs: 1em;
}

 input, optgroup, select, textarea {
  col: inherit;
  ff: inherit;
  mar: 0;
}

button {
  ov: visible;
}

button, select {
  tt: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  @wbap: button;
  @mozap: button;
  cur: pointer;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  bor: 0;
  pad: 0;
}

input[type="checkbox"], input[type="radio"] {
  @bxsz: border-box;
  pad: 0;
}

input[type="search"] {
  @wbkta: textfield;
  @moza: textfield;
  @mozbx: content-box;
  @wbbxsz: content-box;
  @bxsz: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  @wbap: none;
  @mozap: none;
}

textarea {
  ov: auto;
}

td, th {
  pad: 0;
}

/*  Header containment  */
.case {
  ff: Raleway,Lato,Helvetica,Arial,sans-serif;
  fw: 400;
  fs: 300;
  transition: ease all .3s;
  bg: rgba(0,0,0,.65);
  hei: auto;
  wid: 100%;
  pos: fixed;
  zi: 1;: 10000;
}

/*  Header + home  */
.title {
  lh: 3em;
  dis: inline-block;
  marl: 10%;
  pad: .1em .2em .1em .2em;
}

.title h1 {
  fw: 100;
  fl: left;
}

.title a {
  col: #fff;
  transition: ease all .5s;
}

.title a:hover {
  opacity: .65;
  bor: none;
}

/*  site navigation  */
.navbar {
  ta: center;
  text-transform: uppercase;
  float: right;
  margin: 1em 2em .1em 1em;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: rgba(204,204,204,.7);
  padding: 10px;
  font-weight: 400;
  font-family: Raleway;
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(255,255,255,.09);
  -webkit-transform: translateZ(0);
  -moz-transform: transalteZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
}
.navbar a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fd6f6b;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.navbar ul:3rd-child {
  bord-left: thick solid #ccc;
}
.navbar a:hover, .navbar a:focus, .navbar a:active {
  color: #ddd;
  opacity: 1;
  border: none;
}
.navbar a:hover:before, .navbar a:focus:before, .navbar a:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/*  Anchor links  */
#about,#team,#contact {
  margin: 50% auto 100em auto;
}
/*  Article headers  */
.about,.team,.contact {
  font-family: Raleway,Helvetica,Arial,sans-serif;
  margin: 30% auto .75em 0px;
  width: 45%;
  padding: 20px 1.5em 20px 20px;
  border-radius: 0 50px 50px 0;
  text-align: right;
  color: #fff;
  font-size: 2.5em;
  font-weight: 200;
  background: #fd6f6b;
  text-transform: uppercase;
}

/*  This changes the weight of the second word in the article header  */
#tag {
  font-weight: 500;/* set to 400*/
}

/*  Body section containment  */
.article {
  font-family: Raleway;
  font-size: 1.1em;
  color: #777;
  font-weight: 500;
  margin: -1em 20% 30% 20%;
  padding: 2em;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  height: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px 1px rgba(136,136,136,.88);
  -moz-box-shadow: 0 5px 10px 1px rgba(136,136,136,.88);
  box-shadow: 0 5px 10px 1px rgba(136,136,136,.88);
}

.directions {
  text-align: center;
}

.left {
  text-align: left;
}
#goto {
  transition: ease all .3s;
}
.p-end {
  padding: 3px;
  width: 100%;
  transition: ease all .3s;
}
.p-end a {
  text-align: center

  }
.p-end a:hover {
  padding-left: 1em;
}

/*  Additive spacer for anchor links  */
.spacer {
  margin-bottom: 10%;
}

/*  Social links  */
#social p{
  margin: 6em auto 1em auto;
  text-align: center;
}
#social a{
  padding: 1em 1.5% 2.5em 1.5%;
  color: #999;
  font-size: 2em;
  transition: ease all .2s;
}

#social a:hover{
  color: #fd6f6b;
  border: none;
  opacity: 1;
}

/* Copyright in footer  */
#copyright {
  margin: .5m auto;
  color: #999;
  padding-left: 20px;
  padding-bottom: .5em;
  font-size: .8em;
  text-align: center;
}
#copyright a, #copyright a:hover{
  color: #999;
  opacity: 1;
}
